In [1]:
!conda install -y orange3

Collecting package metadata (current_repodata.json): done
Solving environment: done

## Package Plan ##

  environment location: /opt/conda

  added / updated specs:
    - orange3


The following packages will be downloaded:

    package                    |            build
    ---------------------------|-----------------
    anyqt-0.0.11               |     pyh9f0ad1d_0          41 KB  conda-forge
    baycomp-1.0.2              |             py_1          18 KB  conda-forge
    ca-certificates-2020.12.5  |       ha878542_0         137 KB  conda-forge
    cachecontrol-0.12.6        |             py_0          18 KB  conda-forge
    certifi-2020.12.5          |   py37h89c1867_0         143 KB  conda-forge
    commonmark-0.9.1           |             py_0          46 KB  conda-forge
    dictdiffer-0.8.0           |             py_0          16 KB  conda-forge
    h11-0.11.0                 |     pyh9f0ad1d_0          44 KB  conda-forge
    h2-4.0.0                   |   py37hc8dfbb8_2          76 KB  conda-forge
    hpack-4.0.0                |     pyh9f0ad1d_0          25 KB  conda-forge
    hstspreload-2020.11.21     |     pyhd8ed1ab_0         793 KB  conda-forge
    httpx-0.12.0               |             py_0          52 KB  conda-forge
    hyperframe-6.0.0           |     pyh9f0ad1d_0          13 KB  conda-forge
    keyrings.alt-4.0.1         |     pyhd3deb0d_0          26 KB  conda-forge
    lockfile-0.12.2            |             py_1          11 KB  conda-forge
    numpy-1.19.4               |   py37h7e9df27_1         5.2 MB  conda-forge
    opentsne-0.4.4             |   py37he5a615d_2         417 KB  conda-forge
    orange-canvas-core-0.1.18  |             py_0         331 KB  conda-forge
    orange-widget-base-4.10.0  |     pyhd8ed1ab_0         171 KB  conda-forge
    orange3-3.26.0             |   py37he6710b0_0         3.3 MB
    pyqtgraph-0.11.0           |     pyh9f0ad1d_1         527 KB  conda-forge
    python-louvain-0.13        |             py_0          11 KB  conda-forge
    rfc3986-1.4.0              |     pyh9f0ad1d_0          32 KB  conda-forge
    serverfiles-0.3.0          |             py_0           9 KB  conda-forge
    sniffio-1.2.0              |   py37h89c1867_0          15 KB  conda-forge
    ------------------------------------------------------------
                                           Total:        11.4 MB

The following NEW packages will be INSTALLED:

  anyqt              conda-forge/noarch::anyqt-0.0.11-pyh9f0ad1d_0
  baycomp            conda-forge/noarch::baycomp-1.0.2-py_1
  cachecontrol       conda-forge/noarch::cachecontrol-0.12.6-py_0
  commonmark         conda-forge/noarch::commonmark-0.9.1-py_0
  dictdiffer         conda-forge/noarch::dictdiffer-0.8.0-py_0
  h11                conda-forge/noarch::h11-0.11.0-pyh9f0ad1d_0
  h2                 conda-forge/linux-64::h2-4.0.0-py37hc8dfbb8_2
  hpack              conda-forge/noarch::hpack-4.0.0-pyh9f0ad1d_0
  hstspreload        conda-forge/noarch::hstspreload-2020.11.21-pyhd8ed1ab_0
  httpx              conda-forge/noarch::httpx-0.12.0-py_0
  hyperframe         conda-forge/noarch::hyperframe-6.0.0-pyh9f0ad1d_0
  keyrings.alt       conda-forge/noarch::keyrings.alt-4.0.1-pyhd3deb0d_0
  lockfile           conda-forge/noarch::lockfile-0.12.2-py_1
  opentsne           conda-forge/linux-64::opentsne-0.4.4-py37he5a615d_2
  orange-canvas-core conda-forge/noarch::orange-canvas-core-0.1.18-py_0
  orange-widget-base conda-forge/noarch::orange-widget-base-4.10.0-pyhd8ed1ab_0
  orange3            pkgs/main/linux-64::orange3-3.26.0-py37he6710b0_0
  pyqtgraph          conda-forge/noarch::pyqtgraph-0.11.0-pyh9f0ad1d_1
  python-louvain     conda-forge/noarch::python-louvain-0.13-py_0
  rfc3986            conda-forge/noarch::rfc3986-1.4.0-pyh9f0ad1d_0
  serverfiles        conda-forge/noarch::serverfiles-0.3.0-py_0
  sniffio            conda-forge/linux-64::sniffio-1.2.0-py37h89c1867_0

The following packages will be UPDATED:

  ca-certificates                      2020.11.8-ha878542_0 --> 2020.12.5-ha878542_0
  certifi                          2020.11.8-py37h89c1867_0 --> 2020.12.5-py37h89c1867_0
  numpy                               1.18.1-py37h8960a57_1 --> 1.19.4-py37h7e9df27_1



Downloading and Extracting Packages
pyqtgraph-0.11.0     | 527 KB    | ##################################### | 100%
h2-4.0.0             | 76 KB     | ##################################### | 100%
opentsne-0.4.4       | 417 KB    | ##################################### | 100%
httpx-0.12.0         | 52 KB     | ##################################### | 100%
commonmark-0.9.1     | 46 KB     | ##################################### | 100%
anyqt-0.0.11         | 41 KB     | ##################################### | 100%
lockfile-0.12.2      | 11 KB     | ##################################### | 100%
rfc3986-1.4.0        | 32 KB     | ##################################### | 100%
certifi-2020.12.5    | 143 KB    | ##################################### | 100%
baycomp-1.0.2        | 18 KB     | ##################################### | 100%
orange-canvas-core-0 | 331 KB    | ##################################### | 100%
h11-0.11.0           | 44 KB     | ##################################### | 100%
hpack-4.0.0          | 25 KB     | ##################################### | 100%
dictdiffer-0.8.0     | 16 KB     | ##################################### | 100%
hyperframe-6.0.0     | 13 KB     | ##################################### | 100%
orange-widget-base-4 | 171 KB    | ##################################### | 100%
hstspreload-2020.11. | 793 KB    | ##################################### | 100%
python-louvain-0.13  | 11 KB     | ##################################### | 100%
orange3-3.26.0       | 3.3 MB    | ##################################### | 100%
serverfiles-0.3.0    | 9 KB      | ##################################### | 100%
ca-certificates-2020 | 137 KB    | ##################################### | 100%
cachecontrol-0.12.6  | 18 KB     | ##################################### | 100%
sniffio-1.2.0        | 15 KB     | ##################################### | 100%
keyrings.alt-4.0.1   | 26 KB     | ##################################### | 100%
numpy-1.19.4         | 5.2 MB    | ##################################### | 100%
Preparing transaction: done
Verifying transaction: done
Executing transaction: done

In [2]:
import os
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import matplotlib.mlab as mlab
import matplotlib.cm as cm
import math

%matplotlib inline

In [3]:
cs_df = pd.read_excel('../input/online-retail/Online Retail.xlsx')
cs_df.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom

In [4]:
cs_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 541909 entries, 0 to 541908
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    541909 non-null  object
 1   StockCode    541909 non-null  object
 2   Description  540455 non-null  object
 3   Quantity     541909 non-null  int64
 4   InvoiceDate  541909 non-null  datetime64[ns]
 5   UnitPrice    541909 non-null  float64
 6   CustomerID   406829 non-null  float64
 7   Country      541909 non-null  object
dtypes: datetime64[ns](1), float64(2), int64(1), object(4)
memory usage: 33.1+ MB

In [5]:
cs_df[cs_df['CustomerID'].isnull()]

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
622,536414,22139,NaN,56,2010-12-01 11:52:00,0.00,NaN,United Kingdom
1443,536544,21773,DECORATIVE ROSE BATHROOM BOTTLE,1,2010-12-01 14:32:00,2.51,NaN,United Kingdom
1444,536544,21774,DECORATIVE CATS BATHROOM BOTTLE,2,2010-12-01 14:32:00,2.51,NaN,United Kingdom
1445,536544,21786,POLKADOT RAIN HAT,4,2010-12-01 14:32:00,0.85,NaN,United Kingdom
1446,536544,21787,RAIN PONCHO RETROSPOT,2,2010-12-01 14:32:00,1.66,NaN,United Kingdom
...,...,...,...,...,...,...,...,...
541536,581498,85099B,JUMBO BAG RED RETROSPOT,5,2011-12-09 10:26:00,4.13,NaN,United Kingdom
541537,581498,85099C,JUMBO BAG BAROQUE BLACK WHITE,4,2011-12-09 10:26:00,4.13,NaN,United Kingdom
541538,581498,85150,LADIES & GENTLEMEN METAL SIGN,1,2011-12-09 10:26:00,4.96,NaN,United Kingdom
541539,581498,85174,S/4 CACTI CANDLES,1,2011-12-09 10:26:00,10.79,NaN,United Kingdom
541540,581498,DOT,DOTCOM POSTAGE,1,2011-12-09 10:26:00,1714.17,NaN,United Kingdom

In [6]:
cs_df.dtypes

InvoiceNo              object
StockCode              object
Description            object
Quantity                int64
InvoiceDate    datetime64[ns]
UnitPrice             float64
CustomerID            float64
Country                object
dtype: object

In [7]:
cs_df.corr()

            Quantity  UnitPrice  CustomerID
Quantity    1.000000  -0.001235    -0.00360
UnitPrice  -0.001235   1.000000    -0.00456
CustomerID -0.003600  -0.004560     1.00000

In [8]:
def rst(df, pred = None):
    obs = df.shape[0]
    types = df.dtypes
    counts = df.apply(lambda x: x.count())
    uniques = df.apply(lambda x: x.unique())
    nulls = df.apply(lambda x: x.isnull().sum())
    distincts = df.apply(lambda x: x.unique().shape[0])
    missing_ration = (df.isnull().sum()/obs)*100
    skewness = df.skew()
    kurtosis = df.kurt()
    
    if pred == None:
        cols = ['types', 'counts', 'distincts', 'nulls', 'missing ration', 'uniques', 'skewness', 'kurtosis']
        str = pd.concat([types, counts, distincts, nulls, missing_ration, uniques, skewness, kurtosis], axis = 1, sort=True)
    else:
        df.corr()[pred]
        str = pd.concat([types, counts, distincts, nulls, missing_ration, uniques, skewness, kurtosis, corr], axis = 1, sort=True)
        corr_col = 'corr '  + pred
        cols = ['types', 'counts', 'distincts', 'nulls', 'missing ration', 'uniques', 'skewness', 'kurtosis', corr_col ]
        
    str.columns = cols
    return str

In [9]:
details = rst(cs_df)
details

,types,counts,distincts,nulls,missing ration,uniques,skewness,kurtosis
Country,object,541909,38,0,0.000000,"[United Kingdom, France, Australia, Netherland...",NaN,NaN
CustomerID,float64,406829,4373,135080,24.926694,"[17850.0, 13047.0, 12583.0, 13748.0, 15100.0, ...",0.029835,-1.179982
Description,object,540455,4224,1454,0.268311,"[WHITE HANGING HEART T-LIGHT HOLDER, WHITE MET...",NaN,NaN
InvoiceDate,datetime64[ns],541909,23260,0,0.000000,"[2010-12-01T08:26:00.000000000, 2010-12-01T08:...",NaN,NaN
InvoiceNo,object,541909,25900,0,0.000000,"[536365, 536366, 536367, 536368, 536369, 53637...",NaN,NaN
Quantity,int64,541909,722,0,0.000000,"[6, 8, 2, 32, 3, 4, 24, 12, 48, 18, 20, 36, 80...",-0.264076,119769.160031
StockCode,object,541909,4070,0,0.000000,"[85123A, 71053, 84406B, 84029G, 84029E, 22752,...",NaN,NaN
UnitPrice,float64,541909,1630,0,0.000000,"[2.55, 3.39, 2.75, 7.65, 4.25, 1.85, 1.69, 2.1...",186.506972,59005.719097

In [10]:
cs_df.describe()

            Quantity      UnitPrice     CustomerID
count  541909.000000  541909.000000  406829.000000
mean        9.552250       4.611114   15287.690570
std       218.081158      96.759853    1713.600303
min    -80995.000000  -11062.060000   12346.000000
25%         1.000000       1.250000   13953.000000
50%         3.000000       2.080000   15152.000000
75%        10.000000       4.130000   16791.000000
max     80995.000000   38970.000000   18287.000000

In [11]:
cs_df[(cs_df['Quantity'] < 0)&~(cs_df['CustomerID'].isnull())]['InvoiceNo'].apply(lambda x: x[0]).unique()

array(['C'], dtype=object)

In [12]:
print('Check if we have neigative quantity and price at same register:', 'No' if cs_df[(cs_df['Quantity']<0)&(cs_df['UnitPrice'] < 0)].shape[0] == 0 else 'Yes', '\n')
print('Check how many register we have where the quality neigative and the price is 0 and vice-versa: ', cs_df[(cs_df['Quantity'] <= 0)&(cs_df['UnitPrice']<=0)].shape[0],'\n')
print('What is the customer id of the register above: ', cs_df[(cs_df['Quantity']<=0)&(cs_df['UnitPrice']<=0)]['CustomerID'].unique(), '\n')
print('% Neigative Quantity: {:%}'.format(cs_df[cs_df['Quantity']<=0].shape[0]/cs_df.shape[0]), '\n')
print('All register with neigative Quantity has Invoice start with: ', cs_df[(cs_df['Quantity'] < 0)&~(cs_df['CustomerID'].isnull())]['InvoiceNo'].apply(lambda x: x[0]).unique())
print('\nSee an example of negative quantity and others related records:')
display(cs_df[~(cs_df.CustomerID.isnull()) & (cs_df.Quantity <0)])

Check if we have neigative quantity and price at same register: No

Check how many register we have where the quality neigative and the price is 0 and vice-versa:  1336

What is the customer id of the register above:  [nan]

% Neigative Quantity: 1.960477%

All register with neigative Quantity has Invoice start with:  ['C']

See an example of negative quantity and others related records:

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
141,C536379,D,Discount,-1,2010-12-01 09:41:00,27.50,14527.0,United Kingdom
154,C536383,35004C,SET OF 3 COLOURED FLYING DUCKS,-1,2010-12-01 09:49:00,4.65,15311.0,United Kingdom
235,C536391,22556,PLASTERS IN TIN CIRCUS PARADE,-12,2010-12-01 10:24:00,1.65,17548.0,United Kingdom
236,C536391,21984,PACK OF 12 PINK PAISLEY TISSUES,-24,2010-12-01 10:24:00,0.29,17548.0,United Kingdom
237,C536391,21983,PACK OF 12 BLUE PAISLEY TISSUES,-24,2010-12-01 10:24:00,0.29,17548.0,United Kingdom
...,...,...,...,...,...,...,...,...
540449,C581490,23144,ZINC T-LIGHT HOLDER STARS SMALL,-11,2011-12-09 09:57:00,0.83,14397.0,United Kingdom
541541,C581499,M,Manual,-1,2011-12-09 10:28:00,224.69,15498.0,United Kingdom
541715,C581568,21258,VICTORIAN SEWING BOX LARGE,-5,2011-12-09 11:57:00,10.95,15311.0,United Kingdom
541716,C581569,84978,HANGING HEART JAR T-LIGHT HOLDER,-1,2011-12-09 11:58:00,1.25,17315.0,United Kingdom
541717,C581569,20979,36 PENCILS TUBE RED RETROSPOT,-5,2011-12-09 11:58:00,1.25,17315.0,United Kingdom

In [13]:
print('Check register with UnitPrice negative: ')
display(cs_df[cs_df['UnitPrice']<0])
print('Sale records with CustomerID and zero in UnitPrice: ', cs_df[~(cs_df['CustomerID'].isnull())&(cs_df['UnitPrice']==0)].shape[0])
display(cs_df[~(cs_df['CustomerID'].isnull())&(cs_df['UnitPrice']==0)])

Check register with UnitPrice negative:

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
299983,A563186,B,Adjust bad debt,1,2011-08-12 14:51:00,-11062.06,NaN,United Kingdom
299984,A563187,B,Adjust bad debt,1,2011-08-12 14:52:00,-11062.06,NaN,United Kingdom

Sale records with CustomerID and zero in UnitPrice:  40

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
9302,537197,22841,ROUND CAKE TIN VINTAGE GREEN,1,2010-12-05 14:02:00,0.0,12647.0,Germany
33576,539263,22580,ADVENT CALENDAR GINGHAM SACK,4,2010-12-16 14:36:00,0.0,16560.0,United Kingdom
40089,539722,22423,REGENCY CAKESTAND 3 TIER,10,2010-12-21 13:45:00,0.0,14911.0,EIRE
47068,540372,22090,PAPER BUNTING RETROSPOT,24,2011-01-06 16:41:00,0.0,13081.0,United Kingdom
47070,540372,22553,PLASTERS IN TIN SKULLS,24,2011-01-06 16:41:00,0.0,13081.0,United Kingdom
56674,541109,22168,ORGANISER WOOD ANTIQUE WHITE,1,2011-01-13 15:10:00,0.0,15107.0,United Kingdom
86789,543599,84535B,FAIRY CAKES NOTEBOOK A6 SIZE,16,2011-02-10 13:08:00,0.0,17560.0,United Kingdom
130188,547417,22062,CERAMIC BOWL WITH LOVE HEART DESIGN,36,2011-03-23 10:25:00,0.0,13239.0,United Kingdom
139453,548318,22055,MINI CAKE STAND HANGING STRAWBERY,5,2011-03-30 12:45:00,0.0,13113.0,United Kingdom
145208,548871,22162,HEART GARLAND RUSTIC PADDED,2,2011-04-04 14:42:00,0.0,14410.0,United Kingdom
157042,550188,22636,CHILDS BREAKFAST SET CIRCUS PARADE,1,2011-04-14 18:57:00,0.0,12457.0,Switzerland
187613,553000,47566,PARTY BUNTING,4,2011-05-12 15:21:00,0.0,17667.0,United Kingdom
198383,554037,22619,SET OF 6 SOLDIER SKITTLES,80,2011-05-20 14:13:00,0.0,12415.0,Australia
279324,561284,22167,OVAL WALL MIRROR DIAMANTE,1,2011-07-26 12:24:00,0.0,16818.0,United Kingdom
282912,561669,22960,JAM MAKING SET WITH JARS,11,2011-07-28 17:09:00,0.0,12507.0,Spain
285657,561916,M,Manual,1,2011-08-01 11:44:00,0.0,15581.0,United Kingdom
298054,562973,23157,SET OF 6 NATIVITY MAGNETS,240,2011-08-11 11:42:00,0.0,14911.0,EIRE
314745,564651,23270,SET OF 2 CERAMIC PAINTED HEARTS,96,2011-08-26 14:19:00,0.0,14646.0,Netherlands
314746,564651,23268,SET OF 2 CERAMIC CHRISTMAS REINDEER,192,2011-08-26 14:19:00,0.0,14646.0,Netherlands
314747,564651,22955,36 FOIL STAR CAKE CASES,144,2011-08-26 14:19:00,0.0,14646.0,Netherlands
314748,564651,21786,POLKADOT RAIN HAT,144,2011-08-26 14:19:00,0.0,14646.0,Netherlands
358655,568158,PADS,PADS TO MATCH ALL CUSHIONS,1,2011-09-25 12:22:00,0.0,16133.0,United Kingdom
361825,568384,M,Manual,1,2011-09-27 09:46:00,0.0,12748.0,United Kingdom
379913,569716,22778,GLASS CLOCHE SMALL,2,2011-10-06 08:17:00,0.0,15804.0,United Kingdom
395529,571035,M,Manual,1,2011-10-13 12:50:00,0.0,12446.0,RSA
420404,572893,21208,PASTEL COLOUR HONEYCOMB FAN,5,2011-10-26 14:36:00,0.0,18059.0,United Kingdom
436428,574138,23234,BISCUIT TIN VINTAGE CHRISTMAS,216,2011-11-03 11:26:00,0.0,12415.0,Australia
436597,574175,22065,CHRISTMAS PUDDING TRINKET POT,12,2011-11-03 11:47:00,0.0,14110.0,United Kingdom
436961,574252,M,Manual,1,2011-11-03 13:24:00,0.0,12437.0,France
439361,574469,22385,JUMBO BAG SPACEBOY DESIGN,12,2011-11-04 11:55:00,0.0,12431.0,Australia
446125,574879,22625,RED KITCHEN SCALES,2,2011-11-07 13:22:00,0.0,13014.0,United Kingdom
446793,574920,22899,CHILDREN'S APRON DOLLY GIRL,1,2011-11-07 16:34:00,0.0,13985.0,United Kingdom
446794,574920,23480,MINI LIGHTS WOODLAND MUSHROOMS,1,2011-11-07 16:34:00,0.0,13985.0,United Kingdom
454463,575579,22437,SET OF 9 BLACK SKULL BALLOONS,20,2011-11-10 11:49:00,0.0,13081.0,United Kingdom
454464,575579,22089,PAPER BUNTING VINTAGE PAISLEY,24,2011-11-10 11:49:00,0.0,13081.0,United Kingdom
479079,577129,22464,HANGING METAL HEART LANTERN,4,2011-11-17 19:52:00,0.0,15602.0,United Kingdom
479546,577168,M,Manual,1,2011-11-18 10:42:00,0.0,12603.0,Germany
480649,577314,23407,SET OF 2 TRAYS HOME SWEET HOME,2,2011-11-18 13:23:00,0.0,12444.0,Norway
485985,577696,M,Manual,1,2011-11-21 11:57:00,0.0,16406.0,United Kingdom
502122,578841,84826,ASSTD DESIGN 3D PAPER STICKERS,12540,2011-11-25 15:57:00,0.0,13256.0,United Kingdom

In [14]:
#remove registration without CustomerID
cs_df_copy = cs_df[~cs_df['CustomerID'].isnull()]
cs_df_copy.info()

# remove neigative or return transaction
cs_df_copy = cs_df_copy[cs_df_copy['UnitPrice']>0]
cs_df_copy = cs_df_copy[cs_df_copy['Quantity'] >= 0]

<class 'pandas.core.frame.DataFrame'>
Int64Index: 406829 entries, 0 to 541908
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    406829 non-null  object
 1   StockCode    406829 non-null  object
 2   Description  406829 non-null  object
 3   Quantity     406829 non-null  int64
 4   InvoiceDate  406829 non-null  datetime64[ns]
 5   UnitPrice    406829 non-null  float64
 6   CustomerID   406829 non-null  float64
 7   Country      406829 non-null  object
dtypes: datetime64[ns](1), float64(2), int64(1), object(4)
memory usage: 27.9+ MB

In [15]:
cs_df_copy.info()
print(cs_df_copy.shape[0]/cs_df.shape[0])

<class 'pandas.core.frame.DataFrame'>
Int64Index: 397884 entries, 0 to 541908
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    397884 non-null  object
 1   StockCode    397884 non-null  object
 2   Description  397884 non-null  object
 3   Quantity     397884 non-null  int64
 4   InvoiceDate  397884 non-null  datetime64[ns]
 5   UnitPrice    397884 non-null  float64
 6   CustomerID   397884 non-null  float64
 7   Country      397884 non-null  object
dtypes: datetime64[ns](1), float64(2), int64(1), object(4)
memory usage: 27.3+ MB
0.7342265952401602

In [16]:
cat_des_df = cs_df_copy.groupby(['StockCode', 'Description']).count().reset_index()
cat_des_df

,StockCode,Description,InvoiceNo,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,10002,INFLATABLE POLITICAL GLOBE,49,49,49,49,49,49
1,10080,GROOVY CACTUS INFLATABLE,21,21,21,21,21,21
2,10120,DOGGY RUBBER,30,30,30,30,30,30
3,10125,MINI FUNKY DESIGN TAPES,64,64,64,64,64,64
4,10133,COLOURING PENCILS BROWN TUBE,124,124,124,124,124,124
...,...,...,...,...,...,...,...,...
3892,C2,CARRIAGE,133,133,133,133,133,133
3893,DOT,DOTCOM POSTAGE,16,16,16,16,16,16
3894,M,Manual,284,284,284,284,284,284
3895,PADS,PADS TO MATCH ALL CUSHIONS,3,3,3,3,3,3
3896,POST,POSTAGE,1099,1099,1099,1099,1099,1099

In [17]:
cs_df_copy[cs_df_copy['StockCode'] == cat_des_df.StockCode.value_counts()[cat_des_df.StockCode.value_counts()>1].reset_index()['index'][4]]['Description'].unique()

array(['BUTTERFLY CUSHION COVER', 'LA JARDIN BOTANIQUE CUSHION COVER',
       'LE JARDIN BOTANIQUE CUSHION COVER'], dtype=object)

In [18]:
unique_desc = cs_df_copy[["StockCode", "Description"]].groupby(['StockCode']).apply(pd.DataFrame.mode).reset_index(drop=True)

In [19]:
unique_desc

     StockCode                   Description
0        10002   INFLATABLE POLITICAL GLOBE
1        10080      GROOVY CACTUS INFLATABLE
2        10120                  DOGGY RUBBER
3        10125       MINI FUNKY DESIGN TAPES
4        10133  COLOURING PENCILS BROWN TUBE
...        ...                           ...
3661        C2                      CARRIAGE
3662       DOT                DOTCOM POSTAGE
3663         M                        Manual
3664      PADS    PADS TO MATCH ALL CUSHIONS
3665      POST                       POSTAGE

[3666 rows x 2 columns]

In [20]:
details = rst(cs_df_copy)
details

,types,counts,distincts,nulls,missing ration,uniques,skewness,kurtosis
Country,object,397884,37,0,0.0,"[United Kingdom, France, Australia, Netherland...",NaN,NaN
CustomerID,float64,397884,4338,0,0.0,"[17850.0, 13047.0, 12583.0, 13748.0, 15100.0, ...",0.025729,-1.180822
Description,object,397884,3877,0,0.0,"[WHITE HANGING HEART T-LIGHT HOLDER, WHITE MET...",NaN,NaN
InvoiceDate,datetime64[ns],397884,17282,0,0.0,"[2010-12-01T08:26:00.000000000, 2010-12-01T08:...",NaN,NaN
InvoiceNo,object,397884,18532,0,0.0,"[536365, 536366, 536367, 536368, 536369, 53637...",-0.178524,-1.200748
Quantity,int64,397884,301,0,0.0,"[6, 8, 2, 32, 3, 4, 24, 12, 48, 18, 20, 36, 80...",409.892972,178186.243253
StockCode,object,397884,3665,0,0.0,"[85123A, 71053, 84406B, 84029G, 84029E, 22752,...",NaN,NaN
UnitPrice,float64,397884,440,0,0.0,"[2.55, 3.39, 2.75, 7.65, 4.25, 1.85, 1.69, 2.1...",204.032727,58140.396673

In [21]:
from pandasql import sqldf
pysqldf = lambda q: sqldf(q, globals())

In [22]:
q = '''
select df.InvoiceNo, df.StockCode, un.Description, df.Quantity, df.InvoiceDate,
       df.UnitPrice, df.CustomerID, df.Country
from cs_df_copy as df INNER JOIN 
     unique_desc as un on df.StockCode = un.StockCode
'''

In [24]:
cs_df_copy = pysqldf(q)
cs_df_copy

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00.000000,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00.000000,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00.000000,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00.000000,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00.000000,3.39,17850.0,United Kingdom
...,...,...,...,...,...,...,...,...
538770,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,2011-12-09 12:50:00.000000,0.85,12680.0,France
538771,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,2011-12-09 12:50:00.000000,2.10,12680.0,France
538772,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,2011-12-09 12:50:00.000000,4.15,12680.0,France
538773,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,2011-12-09 12:50:00.000000,4.15,12680.0,France
538774,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,2011-12-09 12:50:00.000000,4.95,12680.0,France

In [25]:
rst(cs_df_copy)

,types,counts,distincts,nulls,missing ration,uniques,skewness,kurtosis
Country,object,538775,38,0,0.000000,"[United Kingdom, France, Australia, Netherland...",NaN,NaN
CustomerID,float64,406717,4373,132058,24.510788,"[17850.0, 13047.0, 12583.0, 13748.0, 15100.0, ...",0.029652,-1.180129
Description,object,538775,3647,0,0.000000,"[WHITE HANGING HEART T-LIGHT HOLDER, WHITE MET...",NaN,NaN
InvoiceDate,object,538775,23080,0,0.000000,"[2010-12-01 08:26:00.000000, 2010-12-01 08:28:...",NaN,NaN
InvoiceNo,object,538775,25579,0,0.000000,"[536365, 536366, 536367, 536368, 536369, 53637...",NaN,NaN
Quantity,int64,538775,708,0,0.000000,"[6, 8, 2, 32, 3, 4, 24, 12, 48, 18, 20, 36, 80...",-0.208308,119831.514937
StockCode,object,538775,3665,0,0.000000,"[85123A, 71053, 84406B, 84029G, 84029E, 22752,...",NaN,NaN
UnitPrice,float64,538775,1469,0,0.000000,"[2.55, 3.39, 2.75, 7.65, 4.25, 1.85, 1.69, 2.1...",447.926553,265527.487247

In [29]:
cs_df_copy.InvoiceDate  = pd.to_datetime(cs_df_copy.InvoiceDate)
cs_df_copy['amount'] = cs_df_copy.Quantity*cs_df_copy.UnitPrice
cs_df_copy.CustomerID = cs_df_copy.CustomerID.astype('Int64')
cs_df_copy

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,amount
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850,United Kingdom,15.30
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850,United Kingdom,22.00
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34
...,...,...,...,...,...,...,...,...,...
538770,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,2011-12-09 12:50:00,0.85,12680,France,10.20
538771,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,2011-12-09 12:50:00,2.10,12680,France,12.60
538772,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,2011-12-09 12:50:00,4.15,12680,France,16.60
538773,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,2011-12-09 12:50:00,4.15,12680,France,16.60
538774,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,2011-12-09 12:50:00,4.95,12680,France,14.85

In [30]:
details = rst(cs_df_copy)
display(details.sort_values(by = 'distincts', ascending = False))

KeyError: 'distinct'